
# authentication & pricing services junk
Lib/
Scripts/
pyvenv.cfg
__pycache__/
**/proto_gen/**
!**/proto_gen/__init__.py

# development junk
docker/

# shop service junk
target/


# nvim save files
*~

# notification & live-traffic services junk
node_modules/
dist/
